.popup__container {
    position: fixed;
    top: 195px;
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 540px) {
    .popup__container {
        top: 123px;
        width: 282px;
        height: 322px;
    }
}