.elements__figure {
    margin: 0;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "image image" "figcaption likebutton";
}