.elements__like-button {
    margin: 30px 20px 30px auto;
    width: 22px;
    height: 19px;
    border: 0;
    background-image: url(../../../images/heart.svg);
    background-color: #ffffff;
    cursor: pointer;
    grid-area: likebutton;
}